apiVersion: apps/v1
kind: Deployment
metadata:
  name: security-service
  namespace: fafnir
  labels:
    app: security-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: security-service
  template:
    metadata:
      labels:
        app: security-service
    spec:
      containers:
        - name: security-service
          image: fafnir-security-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
            - name: SERVICE_NAME
              value: "security-service"
            - name: SERVICE_PORT
              value: "8082"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: POSTGRES_PASSWORD
            - name: SECURITY_DB
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: SECURITY_DB
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: DB_HOST_MINIKUBE
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: DB_PORT
            - name: NATS_HOST
              valueFrom:
               secretKeyRef:
                 name: fafnir-secrets
                 key: NATS_HOST_MINIKUBE
            - name: NATS_PORT
              valueFrom:
                 secretKeyRef:
                   name: fafnir-secrets
                   key: NATS_PORT
      restartPolicy: Always