apiVersion: apps/v1
kind: Deployment
metadata:
  name: stock-service
  namespace: fafnir
  labels:
    app: stock-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stock-service
  template:
    metadata:
      labels:
        app: stock-service
    spec:
      containers:
        - name: stock-service
          image: fafnir-stock-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8084
          env:
            - name: SERVICE_NAME
              value: "stock-service"
            - name: SERVICE_PORT
              value: "8084"
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: POSTGRES_PASSWORD
            - name: STOCK_DB
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: STOCK_DB
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: DB_HOST_MINIKUBE
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: DB_PORT
            - name: REDIS_HOST
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: REDIS_HOST_MINIKUBE
            - name: REDIS_PORT
              value: "6379"
            - name: FMP_API_KEY
              valueFrom:
                secretKeyRef:
                  name: fafnir-secrets
                  key: FMP_API_KEY
      restartPolicy: Always