apiVersion: v1
kind: ConfigMap
metadata:
  name: elastic-agent-config
  namespace: logging
data:
  elastic-agent.yml: |
    id: standalone-agent

    outputs:
      default:
        type: elasticsearch
        hosts: ["http://elasticsearch.logging.svc.cluster.local:9200"]

    inputs:
      - type: filestream
        id: kubernetes-container-logs
        enabled: true
        use_output: default
        data_stream:
          dataset: kubernetes.container_logs
          type: logs
          namespace: default
        paths:
          - /var/log/containers/*.log
        prospector:
          scanner:
            symlinks: true
        parsers:
          - container:
              stream: all
              format: auto
        processors:
          - add_kubernetes_metadata:
              host: ${NODE_NAME}
              matchers:
                - logs_path:
                    logs_path: "/var/log/containers/"