{{- range $name, $svc := .Values.services }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $name }}
  labels:
    app: {{ $name }}
spec:
  type: {{ $svc.type | default "ClusterIP" }}
  selector:
    app: {{ $name }}
  ports:
    - protocol: TCP
      port: {{ $svc.servicePort }}
      targetPort: {{ $svc.containerPort }}
{{- end }}
