apiVersion: v1
kind: Service
metadata:
  name: stock-service
  namespace: fafnir
  labels:
    app: stock-service
spec:
  selector:
    app: stock-service
  ports:
    - protocol: TCP
      port: 8084
      targetPort: 8084
  type: ClusterIP