apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: fafnir
  labels:
    app: user-service
spec:
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 8083
      targetPort: 8083
  type: ClusterIP