apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: elastic-agent
  namespace: logging
spec:
  selector:
    matchLabels:
      app: elastic-agent
  template:
    metadata:
      labels:
        app: elastic-agent
    spec:
      nodeSelector:
        logging-exclude: "false"
      serviceAccountName: elastic-agent
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: elastic-agent
          image: docker.elastic.co/beats/elastic-agent:8.19.7
          command:
            - elastic-agent
          args:
            - run
            - -e
            - -c
            - /etc/elastic-agent/elastic-agent.yml
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: STATE_PATH
              value: /usr/share/elastic-agent/state
          securityContext:
            runAsUser: 0
            privileged: true
          resources:
            limits:
              memory: 700Mi
            requests:
              cpu: 100m
              memory: 400Mi
          volumeMounts:
            - name: varlog
              mountPath: /var/log
              readOnly: true
            - name: varlibdockercontainers
              mountPath: /var/lib/docker/containers
              readOnly: true
            - name: etcfullpath
              mountPath: /etc/elastic-agent
              readOnly: true
            - name: state
              mountPath: /usr/share/elastic-agent/state
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: varlibdockercontainers
          hostPath:
            path: /var/lib/docker/containers
        - name: etcfullpath
          configMap:
            defaultMode: 0644
            name: elastic-agent-config
        - name: state
          hostPath:
            path: /var/lib/elastic-agent-data
            type: DirectoryOrCreate