---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: elastic-agent
  namespace: logging
  labels:
    app: elastic-agent
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: elastic-agent-role
  namespace: logging
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["coordination.k8s.io"]
    resources: ["leases"]
    verbs: ["get", "list", "watch", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: elastic-agent-rolebinding
  namespace: logging
subjects:
  - kind: ServiceAccount
    name: elastic-agent
    namespace: logging
roleRef:
  kind: Role
  name: elastic-agent-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-agent-cluster
  labels:
    app: elastic-agent
rules:
  - apiGroups: [""]
    resources:
      - nodes
      - namespaces
      - pods
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: elastic-agent-cluster
subjects:
  - kind: ServiceAccount
    name: elastic-agent
    namespace: logging
roleRef:
  kind: ClusterRole
  name: elastic-agent-cluster
  apiGroup: rbac.authorization.k8s.io